<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--有高到低依次为：OFF、FATAL、ERROR、WARN、INFO、DEBUG、ALL-->
    <appender name="default" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n"/>-->
        </layout>
    </appender>


    <appender name="alarm" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/lw/workfile/log/mynote/mynote.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="20"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p: %c{1} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.framework_technology.esper.examples.alarm">
        <level value="DEBUG"/>
        <appender-ref ref="alarm"/>
    </logger>

    <logger name="org.quartz">
        <level value="INFO"/>
    </logger>

    <logger name="com.espertech">
        <level value="INFO"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="default"/>
    </root>


</log4j:configuration>
